<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  [ngClass]="{ 'bg-dark': isLightTheme, 'bg-light': !isLightTheme }"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ai angular 17</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/imagenes">Generadora de imágenes</a>
        </li>
      </ul>
      <div class="d-flex">
        <input
          type="checkbox"
          [checked]="isLightTheme"
          (change)="onThemeSwitchChange()"
          id="toggle"
        />
      </div>
    </div>
  </div>
</nav>
