<section class="py-6">
  <div
    class="container min-vh-50 py-6 d-flex justify-content-center align-items-center"
    style="max-width: 1920px"
  >
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="fw-bold display-1">Ai generación</h1>
          </div>
        </div>
        <div class="lc-block">
          <div editable="rich">
            <p class="h2">
              Imágenes y arte generados por IA con un mensaje de texto
              utilizando las aplicaciones de generación de fotografías con IA de
              angular 17: Texto a imagen, DALL·E de OpenAI
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
