<section class="py-6">
  <div
    class="container min-vh-50 py-6 d-flex justify-content-center align-items-center"
    style="max-width: 1920px"
  >
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="fw-bold display-1">Ai Generadora de imágenes</h1>
          </div>
        </div>
        <div class="lc-block">
          <div editable="rich">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea"
              ></textarea>
              <label for="floatingTextarea">Mensajes:</label>
            </div>
            <button type="button" class="btn btn-primary m-4">enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
